body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20vw 80vw;
}
.left {
    background-color: #FF6961;
    display: grid;
    place-items: center;
}
.profile-picture {
    height: fit-content;
    /* background-color: #000; */
    display: grid;
    overflow: hidden;
    place-items: center;
}
.profile-picture  img {
    background-color: #d94e46;
    border-radius: 100%;
    width: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
}
.profile-name {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
}
.profile-job {
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}
.right {
    overflow-y: scroll;
    object-position: 100px 10%;
    padding: 3rem;
}
.introduction-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #d94e46;
    margin-bottom: 1rem;
}
.introduction-content {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}
@media (max-width: 900px) {
    .wrapper {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
    }
}
